<ion-tabs delegate-handle="mytabs" ng-hide="$root.hideTabs" class="tabs-stable tabs-icon-top">
    <ion-tab title="Chats" ui-sref="app.chat.list"
      icon="ion-chatbubbles">
      <ion-nav-view name="tab-chats"></ion-nav-view>
    </ion-tab>

    <ion-tab title="Discover" ui-sref="app.explore.view"
      icon="ion-eye">
      <ion-nav-view name="tab-explore"></ion-nav-view>
    </ion-tab>

    <ion-tab title="Requests" ui-sref="app.request.list"
      icon="ion-help-circled">
      <ion-nav-view name="tab-request"></ion-nav-view>
    </ion-tab>

    <ion-tab title="Profile" ui-sref="app.profile.view"
      icon="ion-person">
      <ion-nav-view name="tab-profile"></ion-nav-view>
    </ion-tab>
</ion-tabs>
