<ion-view view-title="Profile">
  <div class="bar bar-subheader bar-light">
    <h1 class="title">What I like</h1>
  </div>
  <ion-content id="profileContent" class="has-subheader">
    <topic-box></topic-box>
  </ion-content>
  <ion-footer-bar class="bar-stable item-input-inset">
    <label class="item-input-wrapper">
      <input type="text" placeholder="Choose your topic"
        ng-model="search.text"
        on-focus="inputUp()"
        ng-change="getTopics()"
        on-blur="inputDown()" />
    </label>
    <button class="button button-clear" ng-show="topics.length === 0"
      ng-click="addTopic()">
      Add
    </button>
  </ion-footer-bar>
</ion-view>
