<div class="topics">
  <span ng-repeat="topic in selectedTopics" class="topic selected"
    ng-click="removeTopic(topic)">
    {{ topic.name }}
  </span>
</div>

<hr/ ng-hide="selectedTopics.length === 0">

<div class="topics">
  <span ng-repeat="topic in topics" class="topic"
    on-hold="holdTopic($event)"
    on-drag="releaseTopic($event)"
    on-release="releaseTopic($event)"
    ng-click="selectTopic(topic)">
    {{ topic.name }}
  </span>
</div>
