<ion-view>
  <ion-content>
    <div class="list">
      <label class="item item-input">
        <span class="input-label">Email</span>
        <input type="text" ng-model="user.email">
      </label>
      <label class="item item-input">
        <span class="input-label">Password</span>
        <input type="password" ng-model="user.password">
      </label>
    </div>
    <div class="padding">
      <button
      class="button button-block button-positive" ng-click="login(user)">
        Sign In
      </button>
    </div>
    <p class="text-center">
      <button ng-click="authenticate('facebook')">Sign in with <b>Facebook</b>
      </button>
    </p>
    <div class="row row-bottom" style="height:100%">
      <div class="col">
        <p class="text-center">
          <a ui-sref="auth.register">Register</a>
        </p>
        <p class="text-center">
          <a href="#/forgot-password">Forgot password</a>
        </p>
      </br>
      </div>
    </div>
  </ion-content>



</ion-view>
