<ion-view view-title="Profile Picture">
  <ion-nav-buttons side="secondary">
    <button
      class="button back-button button-clear"
        ng-click="edit()">
      Edit
    </button>
  </ion-nav-buttons>
  <ion-content>
    <img ng-src="{{picture || defaultPicture}}"/>
  </ion-content>

</ion-view>
