<ion-view view-title="Profile">
  <ion-nav-buttons side="primary">
    <button
      class="button back-button button-clear"
        ng-click="update()">
      Update
    </button>
  </ion-nav-buttons>
  <ion-nav-buttons side="secondary">
    <button
      class="button back-button button-clear"
        ng-click="logout()">
      Log Out
    </button>
  </ion-nav-buttons>
  <ion-content>
    <div class="list">
      <label class="item item-input">
        <span class="input-label">Email</span>
        <input type="text" ng-model="user.email">
      </label>
      <label class="item item-input">
        <span class="input-label">Username</span>
        <input type="text" ng-model="user.username">
      </label>
    </div>


    <ion-item ng-controller="ImageUploadCtrl" class="item-avatar">
        <img ngf-select ng-model="files"
          ngf-src="files[0]" ng-src="{{user.picture ||  defaultPicture}}">
    </ion-item>


  </ion-content>
</ion-view>
