<ion-view view-title="Discover">
  <ion-nav-buttons side="primary">
    <button
      nav-clear
      class="button back-button buttons button-clear"
      ui-sref="app.explore.my-topics">
      I Like
    </button>
  </ion-nav-buttons>
  <ion-nav-buttons side="secondary">
    <button
      nav-clear
      class="button back-button buttons button-clear"
      ng-disabled="selectedTopics.length === 0"
      ng-click="sendRequest()">
      Search
    </button>
  </ion-nav-buttons>
  <div class="bar bar-subheader bar-light has-tabs-top" ng-show="selectedTopics.length === 0">
    <h1 class="title">People who like</h1>
  </div>
  <ion-content id="exploreContent" ng-class="{ 'has-subheader' : selectedTopics.length === 0 }">
    <topic-box></topic-box>
  </ion-content>
  <ion-footer-bar class="bar-stable item-input-inset">
    <label class="item-input-wrapper">
      <input type="text" placeholder="Choose your topic"
        ng-model="search.text"
        on-focus="inputUp()"
        ng-change="getTopics()"
        on-blur="inputDown()" />
    </label>
  </ion-footer-bar>
</ion-view>
