<ion-view view-title="Requests">
  <ion-content>
    <ion-list>
      <ion-item class="item-remove-animate item-avatar"
        ng-repeat="request in requests" type="item-text-wrap"
        ng-click="showPopup(request, $index)">
        <img ng-src="{{request.sender.picture || defaultPicture}}">
        <h2>{{request.sender.username}}</h2>
        <h3 ng-repeat="topic in request.topics" style="display: inline;">
          {{topic}}
        </h3>
      </ion-item>
    </ion-list>
    <ion-infinite-scroll
      ng-if="moreDataCanBeLoaded"
      on-infinite="loadMore()"
      distance="1%">
    </ion-infinite-scroll>
  </ion-content>
  <div class="loading-container visible active"
    ng-if="noRequests">
    <h5>No Requests</h5>
  </div>
</ion-view>
