<ion-view view-title="Bubbles">
  <ion-content>
    <ion-list>
      <ion-item class="item-remove-animate item-avatar item-icon-right"
        ng-repeat="chat in chats" type="item-text-wrap"
        ui-sref="app.chat.view({ chatId: chat.id, receiverId: chat.userId })">
        <img ng-src="{{chat.picture || defaultPicture}}">
        <h2>{{chat.username}}</h2>
        <h3 ng-repeat="topic in chat.topics" style="display: inline;">
          {{topic}}
        </h3>
        <p>{{chat.lastMessage}}</p>
        <i class="icon ion-chevron-right icon-accessory"></i>
        <ion-option-button class="button-assertive" ng-click="delete(chat)">
          Delete
        </ion-option-button>
      </ion-item>
    </ion-list>
    <ion-infinite-scroll
      ng-if="moreDataCanBeLoaded"
      on-infinite="loadMore()"
      distance="1%">
    </ion-infinite-scroll>
  </ion-content>
  <div class="loading-container visible active"
    ng-if="noChats">
    <h5>No Chats</h5>
  </div>
</ion-view>
