<ion-view name="Chat">
  <ion-content class="content-stable" on-swipe-left="hideTime = false" on-swipe-right="hideTime = true">

    <button class="center" ng-click="loadMore()" ng-if="moreMessages">
      show more
    </button>
    <div ng-repeat="message in messages"
      ng-class="{other: message.senderId != myId}"
      class="messages">

      <div class="message">
        <span>{{ message.text }}</span>
      </div>
    </div>

  </ion-content>
  <ion-footer-bar class="bar-stable item-input-inset">
    <label class="item-input-wrapper">
      <input type="text"
        placeholder="Type your message"
        on-return="sendMessage()"
        ng-model="message.text"
        on-focus="inputUp()"
        on-blur="inputDown()"/>
    </label>
    <button class="button button-clear"
      ng-click="sendMessage()"
      ng-disabled="!message.text">
      Send
    </button>
  </ion-footer-bar>
</ion-view>
